<html>
<head>
	<meta charset="UTF-8">
	<title>Kreiranje sportskog objekta</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/css/ol.css" type="text/css">
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/build/ol.js"></script>
<style>
      .map {
        height: 400px;
        width: 50%;
      }
    </style>
</head>
<body>
<div id="createSportFacility">
	<form>
	<table>
		<tr>
			<td>Naziv:</td><td><input v-model="naziv" type="text" name="naziv"></td>
		</tr>
		<tr>
			<td>Tip:</td>
			<td><select v-model="tip" name="tip">
					<option value="TERETANA">Teretana</option>
					<option value="BAZEN">Bazen</option>
					<option value="SPORTSKI_CENTAR">Sportski centar</option>
					<option value="PLESNI_STUDIO">Plesni studio</option>
					</select>
			</td>
		</tr>
		  <tr>
			<td>Geografska duzina:</td><td><input v-model="geoDuzina" type="number" min="-180" max="180" name="geoDuzina"></td>
		</tr>
		<tr>
			<td>Geografska sirina:</td><td><input v-model="geoSirina" type="number" min="-90" max="90" name="geoSirina"></td>
		</tr>
		<tr>
			<td>Ulica:</td><td><input v-model="ulica" type="text" name="ulica"></td>
		</tr>
		 
		<tr>
			<td>Broj u ulici:</td><td><input v-model="broj" type="number" min="1" name="broj"></td>
		</tr>
		<tr>
			<td>Grad:</td><td><input v-model="grad" type="text" name="grad"></td>
		</tr>
		<tr>
			<td>Postanski kod:</td><td><input v-model="kod" type="number" min="1" name="kod"></td>
		</tr>
	<!--  	<tr>
			<td>Logo:</td><td><input v-model="slika" type="file" name="slika"></td>
		</tr>-->
		<tr v-bind:class="[{visible : menadzeri.length !== 0}, {hidden : menadzeri.length === 0}]">
			<td>Izaberi menadzera:</td>
			<td>
			<select v-model="izabraniMenadzer" name="izabraniMenadzer">
    				<option v-for="m in menadzeri" >{{m.name}} {{m.surname}}</option>	
  				</select>
  			</td>
  		</tr>
		<tr v-bind:class="[{visible : menadzeri.length === 0}, {hidden : menadzeri.length !== 0}]">
			<td>Izabrani menadzer:</td>
  			<td>{{izabraniMenadzer}}</td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input v-on:click="create" type="submit" value="Kreiraj"></td>
		</tr>
	</table>
	</form>
	<form v-show="!izabraniMenadzer && menadzeri.length === 0">
	<h3>Registrujte novog menadzera za sportski objekat:</h3>
	<table>
			<tr>
				<td>Korisničko ime:</td><td><input v-model="korisnickoIme" type="text" name="korisnickoIme"></td>
			</tr>
			<tr>
				<td>Lozinka:</td><td><input v-model="lozinka" type="password" name="lozinka"></td>
			</tr>
			<tr>
				<td>Ime:</td><td><input v-model="ime" type="text" name="ime"></td>
			</tr>
			<tr>
				<td>Prezime:</td><td><input v-model="prezime" type="text" name="prezime"></td>
			</tr>
			<tr>
				<td>Pol:</td>
				<td><select style='width:100%' v-model="pol" name="pol">
						<option value="MUSKI">Muski</option>
						<option value="ZENSKI">Zenski</option>
						</select>
				</td>
			</tr>
			<tr>
				<td>Datum rođenja:</td><td><input style='width:100%' v-model="datumRodjenja" type="date" name="datumRodjenja"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input v-on:click="registerManager" type="button" value="Registruj"></td>
			</tr>
		</table>
	</form>
	
	<br/><br/><br/>
	<div id="map" class="map"></div>
</div>
<a href="adminMainPage.html">Nazad</a>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="createSportFacility.js"></script>
</body>
</html>