<html>
<head>
	<meta charset="UTF-8">
	<title>Kupac</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div id="customerMainPage">
	<form >
		<p v-if="customer">Ulogovan je kupac: {{customer.name}} {{customer.surname}}</p>
		<a href="profileCustomer.html">1. Pregled profila</a>
		<br/>
		<a href="createMembershipFee.html">2. Kreiraj clanarinu</a>
		<br/>
		<a href="customerTrainings.html">3. Pristupi treningu</a>
		<br/>
		<a href="allCommentsCustomer.html">4. Pregled komentara</a>
		<br /><br /><br />
		<a v-on:click="logout" href="index.html">Izloguj se</a>
	</form>
	<h4>Pretrazi treninge:</h4>
	<table>
			<tr><td>Naziv sportskog objekta:</td><td><input v-model="naziv" type="text" name="naziv"></td><td><button  v-on:click="pretragaNaziv(naziv)">Pretrazi</button></td></tr>
			
			<tr><td>Cena:</td><td><input style='width:100%' v-model="minCena" min="0"  type="number" name="minCena"></td>
				<td><input style='width:100%' v-model="maxCena" v-bind:min="minCena"  type="number" name="maxCena"></td>
			<td><button  v-on:click="pretragaCena(minCena, maxCena)">Pretrazi</button></td></tr>
			<tr><td>Datum prijave:</td><td><input style='width:100%' v-model="datumPocetak" type="date" name="datumPocetak"></td>
			<td><input style='width:100%' v-model="datumKraj" type="date" name="datumKraj"></td>
			<td><button  v-on:click="pretragaDatum(datumPocetak, datumKraj)">Pretrazi</button></td></tr>
			<tr><td align="right" colspan="2"><button  v-on:click="ponistiPretragu()">Ponisti</button></td></tr>
		</table>
	
	<select name="tipovi" id="tipovi"  v-on:change = "tipObjektaFilter">
  			<option>Izaberi tip objekta</option>
    		<option v-for = "t in tipoviObjekata">{{t}}</option>
    		
  		</select>
  	<br></br>
  	<select name="tipoviTreninga" id="tipoviTreninga"  v-on:change = "tipTreningaFilter">
  			<option>Izaberi tip treninga</option>
    		<option v-for = "t in tipoviTreninga">{{t}}</option>
    		
  		</select>
	<h3>Pregled treninga</h3>
	<table border="1" v-if="treninziSaDatumomFiltrirano">
	<thead>
		<tr bgcolor="lightgrey">
			<th><b>Naziv treninga</b></th>
			<th><b>Tip treninga</b></th>
			<th v-on:click = "sortNaziv()" class = "pointer"><b>Sportski objekat</b></th>
			<th><b>Tip sportskog objekta</b></th>
			<th v-on:click = "sortDatum()" class = "pointer"><b>Datum i vreme prijave</b></th>
			<th v-on:click = "sortCena()" class = "pointer"><b>Cena treniranja</b></th>
		</tr>	
	</thead>
	<tbody v-if="treninziSaDatumomFiltrirano">
		<tr v-for="tsd in treninziSaDatumomFiltrirano">
			<td>{{tsd.treninzi.name}}</td>
			<td>{{tsd.treninzi.trainingType}} </td>
			<td>{{tsd.treninzi.sportFacility}} </td>
			<td>{{tsd.tipovi}} </td>
			<td>{{tsd.datumi}}</td>
			<td>{{tsd.treninzi.price}} </td>
		</tr>
	</tbody>
	</table>
</div>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="customerMainPage.js"></script>
</body>
</html>