<html>
<head>
	<meta charset="UTF-8">
	<title>Pocetna strana</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/css/ol.css" type="text/css">
	<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/build/ol.js"></script>
	<style>
      .map {
        height: 400px;
        width: 50%;
      }
    </style>
</head>
<body>
<div id="loginForm">
	<form >
		<table>
			<tr><td>Korisnicko ime:</td><td><input v-model="korisnickoIme" type="text" name="korisnickoIme"></td></tr>
			<tr><td>Lozinka:</td><td><input v-model="lozinka" type="password" name="lozinka"></td></tr>
			<tr><td align="center" colspan="2"><input v-on:click="login" type="submit" value="Uloguj se"></td></tr>
			<tr><td align="center" colspan="2"><a href="register.html">Registruj se</a></td></tr>
		</table>
	</form>
	<br/>
	<h4>Pretrazi sportske objekte:</h4>
	<table>
			<tr><td>Naziv:</td><td><input v-model="naziv" type="text" name="naziv"></td></tr>
			<tr><td>Tip:</td><td><input v-model="tip" type="text" name="tip"></td></tr>
			<tr><td>Lokacija:</td><td><input v-model="lokacija" type="text" name="lokacija"></td></tr>
			<tr><td>Prosecna ocena:</td><td><input style='width:100%' v-model="prosecnaOcena" min="1" max="5" type="number" name="prosecnaOcena"></td></tr>
			<tr><td align="center" colspan="2"><button style="margin:10px" v-on:click="pretraziSve()">Pretrazi sve</button><button style="margin:10px" v-on:click="ponistiPretragu()">Ponisti</button></td></tr>
		</table>
		<p></p>
		<div>
		<select name="status" id="status" v-on:change = "statusFilter">
			<option>Izaberi status</option>
    		<option v-for = "s in status">{{s}}</option>
    		
  		</select>
  		<br></br>
  		
  		<select name="tipovi" id="tipovi"  v-on:change = "tipFilter">
  			<option>Izaberi tip</option>
    		<option v-for = "t in tipovi">{{t}}</option>
    		
  		</select>
  		<br></br>
  		</div>
	<table border="1" id="tabela">
				<thead>
					<tr bgcolor="lightgrey">
						<th><b>Logo</b></th>
						<th v-on:click = "sortNaziv()" class = "pointer"><b>Naziv</b></th>
						<th ><b>Tip</b></th>
						<th v-on:click = "sortLokacija()" class = "pointer"><b>Lokacija</b></th>
						<th v-on:click = "sortOcena()" class = "pointer"><b>Prosecna ocena</b></th>
						<th><b>Status</b></th>
						<th><b>Pregledaj</b></th>
					</tr>
				</thead>
				
				<tbody class="telo">
					<tr v-for="o in pretrazeniObjekti">
						<td><img v-bind:src=" 'img/' + o.image"></td>
						<td>{{o.name}}</td>
						<td>{{o.type }}</td>
						<td>{{o.location.address.street}} {{o.location.address.number}}, {{o.location.address.city}}, {{o.location.address.zipCode}}</td>
						<td>{{o.averageRating}}</td>
						<td v-bind:class="[{green : o.status=='RADI'}, {red : o.status=='NE_RADI'}]">{{o.status}}</td>
						<td><button  v-on:click="pregledaj(o)">Detaljnije</button></td>
					</tr>
				</tbody>
			</table>
			
			<br/><br/><br/>
	<h3>Pretrazi grad preko mape:</h3>
	<div id="map" class="map"></div>
</div>	
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/app.js"></script>
</body>
</html>