<html>
<head>
	<meta charset="UTF-8">
	<title>Menadzer</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div id="managerMainPage">
	<form >
		<p>Ulogovan je menadzer: {{manager.name}} {{manager.surname}}</p>
		<a href="profileManager.html">1. Pregled profila</a>
		<br />
		<a href="sportFacilityReview.html">2. Pregled sportskog objekta</a>
		<br />
		<a href="addTrainingToFacility.html">3. Dodavanje novog sadrzaja u sportski objekat</a>
		<br/>
		<a href="allCommentsManager.html">4. Pregled komentara</a>
		<br /><br /><br />
		<a v-on:click="logout" href="index.html">Izloguj se</a>
	</form>
	<h4>Pretrazi treninge:</h4>
	<table>

			<tr><td>Cena:</td><td><input style='width:100%' v-model="minCena" min="0"  type="number" name="minCena"></td>
				<td><input style='width:100%' v-model="maxCena" v-bind:min="minCena"  type="number" name="maxCena"></td>
			<td><button  v-on:click="pretragaCena(minCena, maxCena)">Pretrazi</button></td></tr>
			<tr><td>Datum prijave:</td><td><input style='width:100%' v-model="datumPocetak" type="date" name="datumPocetak"></td>
			<td><input style='width:100%' v-model="datumKraj" type="date" name="datumKraj"></td>
			<td><button  v-on:click="pretragaDatum(datumPocetak, datumKraj)">Pretrazi</button></td></tr>
			<tr><td align="right" colspan="2"><button  v-on:click="ponistiPretragu()">Ponisti</button></td></tr>
		</table>
		
	<select name="tipoviTreninga" id="tipoviTreninga"  v-on:change = "tipTreningaFilter">
  			<option>Izaberi tip treninga</option>
    		<option v-for = "t in tipoviTreninga">{{t}}</option>
    		
  		</select>
	<h3>Pregled treninga u objektu</h3>
	<table border="1">
	<thead>
		<tr bgcolor="lightgrey">
			<th><b>Slika</b></th>
			<th><b>Naziv treninga</b></th>
			<th><b>Tip treninga</b></th>
			<th><b>Opis</b></th>
			<th><b>Trener</b></th>
			<th v-on:click = "sortCena()" class = "pointer"><b>Cena</b></th>
			<th v-on:click = "sortDatum()" class = "pointer"><b>Datum i vreme odrzavanja</b></th>
			<th><b>Izmeni</b></th>
		</tr>	
	</thead>
	<tbody>
		<tr v-for="tsd in treninziSaDatumomFiltrirano">
			<td><img v-bind:src=" 'img/' + tsd.treninzi.image"></td>
			<td>{{tsd.treninzi.name}}</td>
			<td>{{tsd.treninzi.trainingType}}</td>
			<td>{{tsd.treninzi.description }}</td>
			<td>{{tsd.treninzi.coach}} </td>
			<td>{{tsd.treninzi.price}} </td>
			<td>{{tsd.datumi}} </td>
			<td><button  v-on:click="izmeni(tsd)">Izmeni</button></td>
		</tr>
	</tbody>
	</table>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="managerMainPage.js"></script>
</body>
</html>