<html>
<head>
	<meta charset="UTF-8">
	<title>Registrovani korisnici</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div id="registeredUsers">

	<h4>Pretrazi korisnike:</h4>
	<table>
			<tr><td>Ime:</td><td><input v-model="ime" type="text" name="naziv1"></td><td><button  v-on:click="pretragaIme(ime)">Pretrazi</button></td></tr>
			<tr><td>Prezime:</td><td><input v-model="prezime" type="text" name="naziv2"></td><td><button  v-on:click="pretragaPrezime(prezime)">Pretrazi</button></td></tr>
			<tr><td>Korisnicko ime:</td><td><input v-model="username" type="text" name="naziv3"></td><td><button  v-on:click="pretragaUsername(username)">Pretrazi</button></td></tr>
			<tr><td align="right" colspan="2"><button  v-on:click="ponistiPretragu()">Ponisti</button></td></tr>
		</table>
		
		<select name="tipovi" id="tipovi"  v-on:change = "tipFilter">
  			<option>Izaberi tip kupca</option>
    		<option v-for = "t in tipovi">{{t}}</option>
    		
  		</select>
  	<br></br>
  	<select name="uloge" id="uloge"  v-on:change = "ulogeFilter">
  			<option>Izaberi ulogu</option>
    		<option v-for = "u in uloge">{{u}}</option>
    		
  		</select>
  		<br></br>
	<table border="1" id="tabela">
				<thead>
					<tr bgcolor="lightgrey">
						<th v-on:click = "sortUsername()" class = "pointer"><b>Korisnicko ime</b></th>
						<th v-on:click = "sortIme()" class = "pointer"><b>Ime</b></th>
						<th v-on:click = "sortPrezime()" class = "pointer"><b>Prezime</b></th>
						<th><b>Datum rodjenja</b></th>
						<th><b>Uloga</b></th>
						<th><b>Tip</b></th>
						<th v-on:click = "sortPoeni()" class = "pointer"><b>Poeni</b></th>
						<th><b>Obrisi</b></th>
					</tr>
				</thead>
				
				<tbody class="telo">
					<tr v-for="k in registrovaniFiltrirano">
						<td>{{k.user.username}}</td>
						<td>{{k.user.name}}</td>
						<td>{{k.user.surname}}</td>
						<td>{{k.user.dateOfBirth}}</td>
						<td>{{k.user.role}}</td>
						<td>{{k.tip}}</td>
						<td>{{k.poeni}}</td>
						<td v-bind:hidden="k.user.role == 'KUPAC' || k.user.role == 'ADMINISTRATOR'"><button  v-on:click="obrisiKorisnika(k)">Obrisi</button></td>
						<td v-bind:hidden="k.user.role !== 'KUPAC' && k.user.role !== 'ADMINISTRATOR'"></td>
						</tr>
				</tbody>
			</table>
			<br /><br /><br />
		<a href="adminMainPage.html">Nazad</a>
</div>	
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="registeredUsers.js"></script>
</body>
</html>