<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Detalji o sportskom objektu</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/css/ol.css" type="text/css">
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/build/ol.js"></script>
<style>
      .map {
        height: 400px;
        width: 50%;
      }
    </style>
</head>
<body>
<div id ="sportFacilityInfo">
	<h3>Osnovne informacije o sportskom objektu</h3>
	
		<table border="1" v-if="sportFacility">
			<tr>
				<td>Naziv:</td><td v-if="sportFacility">{{sportFacility.name}}</td>
			</tr>
			<tr>
				<td>Tip objekta:</td><td v-if="sportFacility">{{sportFacility.type}}</td>
			</tr>
			<tr>
				<td>Lokacija:</td><td v-if="sportFacility">{{sportFacility.location.address.street}} {{sportFacility.location.address.number}}, {{sportFacility.location.address.city}}, {{sportFacility.location.address.zipCode}}</td>
			</tr>
			<tr v-show="sportFacility.averageRating>=1">
				<td>Prosecna ocena:</td><td v-if="sportFacility">{{sportFacility.averageRating}}</td>
			</tr>
			<tr v-show="sportFacility.averageRating<1">
				<td>Prosecna ocena:</td><td v-if="sportFacility">Nema prosek</td>
			</tr>
			<tr>
				<td>Status:</td><td v-if="sportFacility">{{sportFacility.status}}</td>
			</tr>
			<tr>
				<td>Logo:</td><td v-if="sportFacility"><img v-bind:src=" 'img/' + sportFacility.image"></td>
			</tr>
		</table>
	<h3>Pregled treninga u objektu</h3>
	<table border="1">
	<thead>
		<tr bgcolor="lightgrey">
			<th><b>Slika</b></th>
			<th><b>Naziv treninga</b></th>
			<th><b>Opis</b></th>
			<th><b>Trener</b></th>
			<th><b>Cena</b></th>
		</tr>	
	</thead>
	<tbody>
		<tr v-for="t in treninzi">
			<td><img v-bind:src=" 'img/' + t.image"></td>
			<td>{{t.name}}</td>
			<td>{{t.description }}</td>
			<td>{{t.coach}} </td>
			<td>{{t.price}}</td>
		</tr>
	</tbody>
	</table>
	
	
	<h3>Komentari o sportskom objektu</h3>
	<table border="1" id="tabela">
				<thead>
					<tr bgcolor="lightgrey">
						<th><b>Tekst komentara</b></th>
						<th><b>Kupac koji je komentarisao</b></th>
						<th><b>Ocena</b></th>
					</tr>
				</thead>
				
				<tbody class="telo">
					<tr v-for="k in komentari">
						<td>{{k.content}}</td>
						<td>{{k.customer}}</td>
						<td>{{k.mark}}</td>
					</tr>
				</tbody>
			</table>
</div>
	<br/><br/><br/>
	<a href="index.html">Nazad</a>
	<br/><br/><br/>
	<div id="map" class="map"></div>
	 
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="sportFacilityInfo.js"></script>
</body>
</html>